.minimenu{
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.322);

}
.minimenu .barra{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 250px;
    background: white;
    animation: surgir linear 0.4s;
}
.minimenu .barra .op{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    height: 240px;
}
.minimenu .barra .fechar{
    color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.minimenu .barra .fechar, .minimenu .barra .op{
    margin-top: 30px;
    padding-left: 20px;
}
.minimenu .barra .op p{
    font-weight: 600;
    font-family: "Playfair";
    font-size: 25px;
}
.minimenu.show{
    display: flex;
}
@keyframes surgir {
    0%{
        margin-left: -300px;
    }
    100%{
        margin-left: 0px;
    }
}