.menu{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.322);
}
.menu .barra{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 300px;
    background: white;
}
.menu .barra .op{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    height: 240px;
}
.menu .barra .fechar{
    color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.menu .barra .fechar, .menu .barra .op{
    margin-top: 30px;
    padding-left: 20px;
}
.menu .barra .op p{
    font-weight: 600;
    font-family: "Playfair";
    font-size: 25px;
}