@font-face {
    font-family: "Roboto";
    src: url("../Roboto/RobotoCondensed-Light.ttf");
}
.header{
    transition: all ease 0.2s;
    position: fixed;
    top: 40px;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    align-items: center;
    display: flex;
}
.header.show{
    color: rgb(0, 0, 0);
    background: white;
    top: 0;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.288);
}
.header.show .logo .img{
    background: url("../image/logo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 90px;

}
.mini-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    z-index: 120;
    background: rgba(0, 0, 0, 0.623);
}
.mini-menu .menu{
    height: 90%;
    width: 50%;
    background: white;
    top: 0;
    left: 0;
}

.header .logo .img{
    margin-left: 170px;
    background: url("../image/logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 90px;
}
.header .logo{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
}
.header .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
}
.header .aviso{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}
.header .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 7px;
}
.header span{
    margin-top: -6px;
    margin-left: 7px;
    transition: all 0.3s ease-in-out;
    width: 0px;
    height: 1.5px;
    background: white;
}
.header .titulo:hover+ span{
    width: 80%;
}
.header .titulo p:hover+ img{
    transform: rotate(0deg);
}
.header p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    cursor: pointer;
    letter-spacing: .1em;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    margin: 9px;
}
.header .item .titulo{
    align-items: center;
    display: flex;
}
.header .item .titulo img{
    transition: all 0.2s ease-in-out;
    margin-left: -1px;
    transform: rotate(-180deg);
}
@media screen and (max-width:700px) {
    .header{
        display: none;
    }
    .header.show{
        display:none;
    }
}