@font-face {
    font-family: "Roboto";
    src: url("../Roboto/RobotoCondensed-Light.ttf");
}
.header{
    transition: all ease 0.2s;
    position: fixed;
    top: 40px;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0);
    align-items: center;
    display: flex;
}
.header.show{
    color: rgb(0, 0, 0);
    background: white;
    top: 0;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.288);
}
.header .logo{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
}
.header .logo img{
    width: 90px;
    height: auto;
}
.header .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.header p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    cursor: pointer;
    letter-spacing: .1em;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    margin: 9px;
}
.header .aviso{
    width: 25%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
}