:root {
  
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Bold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/RobotoCondensed-Light.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/RobotoCondensed-Regular.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/RobotoCondensed-Bold.ttf");
  font-weight: 700;
}
.app{
  overflow-y: auto;
  width: 100%;
  font-weight: 200;
  height: 100%;
}
.app .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 30px;
  background: black;
}
.app .info p{
  font-weight: 600;
  font-size: 11px;
}
.app .banner{
  z-index: 10;
  background: url("./image/BANNER.webp") no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}
.app .banner p{
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: url("./Roboto/PlayfairDisplay-Bold.ttf");
  font-size: 40px;
}
.app .catalogo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
}
.app .catalogo .roupas{
  width: 80%;
  height: 500px;  
  display: flex;
  justify-content: space-between;
}
.app .catalogo .exibir{
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
  height: 100%;
}
.app .catalogo .exibir:nth-child(1){
  background: url("./image/sutia.jpg");
  background-size: cover;
}
.app .catalogo .exibir:nth-child(2){
  background: url("./image/calcinha.webp");
  background-size: cover;
}
.app .catalogo .exibir:nth-child(3){
  background: url("./image/conj.webp");
  background-size: cover;
}
.app .catalogo .exibir .text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.app .catalogo .exibir .text p{
  width: 110px;
  height: 20px;
  display: flex;
  justify-content: center;
  background: rgb(36, 36, 36);
  color: white;
}
.app .catalogo .exibir img{
  width: 100%;
  height: 100%;
}
.banner img{
  width: 100%;
  height: 80vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-weight: 200;
}
