.seta{
    font-size: 60px;
    rotate: 90deg;
    position: fixed;
    bottom: 23px;
    transition: all 0.2s ease-in-out;
    background: black;
    color: white;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    right: 23px;
    display: none;
}
.seta.show:hover{
    cursor: pointer;
    color: black;
    background: white;
}
.seta.show{
    justify-content: center;
    align-items: center;
    display: flex;
}
.seta p{
    margin-bottom: 8px;
}
@media (max-width:500px){
    .seta.show{
        display: none;
    }
}